<h2>Featured Projects</h2>

<p class="f4 mb-4 text-gray">These are some of my coolest projects.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <!-- For each of the projects in config -->
  {% for config_name in site.projects.featured %}
    <!-- Search through all my public repos -->
    {% for repository in site.github.public_repositories %}
      <!-- Get the username/reponame form -->
      {% assign user_repo = repository.owner.login | append: '/' | append: repository.name %}

      <!-- If it's the right one, display it -->
      {% if user_repo == config_name %}
        <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
          {% include repo-card.html %}
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<div>
  <a href="projects">See more</a>
</div>